<div class="shadow-1-strong cont-princ rounded mb-5 acerca" id="acerca">
  <div class="container-fluid">
    <h3 class="titulo">ALGO SOBRE MI</h3>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 mt-5 mt-md-0">
        <div class="d-flex home-img text-center p-4">
          <img [src]="miPortfolio.imgperfil" class="img-fluid rounded-circle border border-4 border-success img-perfil" alt="">
        </div>
      </div>
        <div class="col-md-6 mt-5 mt-md-0">
          <div class="home-text">
            <p class="mt-4 sobre-mi">
              Mi nombre es <span> {{miPortfolio.name}} </span>, tengo <span> {{miPortfolio.age}} </span> años, trabajo hace <span> {{miPortfolio.antiquity}}</span> años en el Ministerio de Seguridad de la Provincia de Bs. As.. <span> {{miPortfolio.interesting}}  </span>
            </p>
          <div class="colum-lg-12 pt-1">
          <div class="social-links">
            <h6 class="tit-red">Puedes Seguirme en mis Redes</h6>
            <a href="https://www.facebook.com/diego.salomon.73"><i class="fab fa-facebook-square text-success px-1 fs-3"></i></a>
            <a href="https://www.instagram.com/carlos.otero.77/"><i class="fab fa-instagram-square text-success px-1 fs-3"></i></a>
            <a href="https://wa.me/1167297528 "><i class="fab fa-whatsapp-square text-success px-1 fs-3"></i></a>
          </div>
          </div>
          </div>
       </div>
      </div>
    </div>
    <div class="edit">
      <a href="#"><i class="fa-solid fa-pen-clip text-success"></i></a>
    </div>
  </div>
