<body>
  <!--Comienzo barra de navegacion-->
  <app-barnavegacion></app-barnavegacion>
  <!--Fin barra de navegacion-->

  <!--Comienzo Bienvenida-->
  <app-bienvenida></app-bienvenida>
  <!--Fin Bienvenida-->

  <!--Comienzo Acerca-->
  <app-acerca></app-acerca>
  <!--Fin Acerca-->

  <!--Inicio Formacion Académica-->
  <app-formacademica></app-formacademica>
  <!--Fin Formacion Académica-->

  <!--Inicio Experiencia Laboral-->
  <app-explaboral></app-explaboral>
  <!--Fin Experiencia Laboral-->

  <!--Inicio Skills-->
  <app-skills></app-skills>
  <!--Fin Skills-->

  <!--Inicio Proyectos y Trabajos-->
  <app-proyectos></app-proyectos>
  <!--Fin Proyectos y Trabajos-->

  </body>