<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand" href="https://www.argentina.gob.ar/latiendo/queres-capacitarte-y-estudiar/argentina-programa">
      <img src="assets/imagenes/ARGPROG.png" alt="argprog" width="30" height="24">

    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon bg-light"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#"><i class="fa-solid fa-home"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#acerca">Acerca</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#form-acade">Formacion Academica</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#exp-lab">Experiencia Laboral</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#proyectos">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../login/login.component.html"><i class="fa-solid fa-right-to-bracket login"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
